.app{
    border: 1px solid black;
    width: max-content;
    padding: 5px 15px;
}

.deseo-input{
    border: none;
}

.deseo-list{
    padding: 0;
    margin-left: 15px;
}

.deseo-list-item{
    list-style: none;
}

.deseo-list-item-done{
    text-decoration: line-through;
}

.deseo-clear{
    
    background-color: white;
    padding: 7px;
    margin: auto;
    display: flex;
    align-items: center;
}